.field {
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.field__label {
   color: rgb(128, 128, 128);
   font-size: 14px;
}

.field__input {
   width: 100%;
   border: 1px solid #e9e8eb;
   border-radius: 10px;
   background: white;
   padding: 16px;
   color: #1d1d1f;
   transition: border-color 0.3s;
}
.field__input::placeholder {
   color: #1d1d1f;
   font-size: 14px;
}
.field__input:hover {
   border-color: #775ce5;
}

.field__input:focus {
   border-color: #775ce5;
}

.field__wrapper {
   width: 100%;
   display: grid;
   position: relative;
}

/* .field__icon {
   display: block;
   width: 20px;
   height: 20px;
   cursor: pointer;
   background-size: cover;
   position: absolute;
   left: 16px;
   top: calc(50% - 8px);
   z-index: 1;
   font-size: 16px;
} */

/* .field__input {
   padding-left: calc(16px + 20px);
} */
