.backBtn-title {
   width: 100%;
   color: #1d1d1f;
   text-align: center;
   font-family: "Jost";
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 100%;
   text-align: center;
}
